.inner{display:table; margin: 0px auto;}
#container > br {display: none;}
body {background:#CCC}
.sub_body {float:left; width:1050px; height:1000px; border:1px solid green; margin:0px; padding:0px;}